* {
    margin: 0; padding: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%; height: 100%;
}
/* canvas { width: 100%; height: 100%; display: block } */
#wrapper {
    width: 100%; height: 100%;
    display: grid;
    grid-template-columns: 15rem auto ;
    grid-template-rows: 12rem auto ;
    grid-template-areas: "input graphs"
                         "input canvas"; 
    justify-items: start;
    align-items: start;
}
    #form--simSett {
        height: 100%;
        max-height: 100%;
        grid-area: input;
        padding: 0.2rem;
/*         display: grid;
        grid-template-columns: 10rem 5rem; */
        justify-items: stretch;
        align-items: stretch;
        border-right: 1px solid black;
    }
        #form--simSett .div__input--radio {
            display: inline-block;
            width: 48%;
            text-align: left;
        }
            #form--simSett label {
                padding: 0.2rem;
            }
            input:checked+label {
                background-color: rgb(182, 234, 253);
                border-radius: 0.5rem;
            }
        #form__input--molecules > div {
            border-left: 3px solid black;
            margin:  0.2rem 0  0 0.5rem ;
            padding: 0rem 0rem;
        }
        #form--simSett * {
            margin-bottom: 0.3rem;
        }
        #form--simSett > div {
            border-bottom: 1px solid black;
            min-height: 3rem;
        }
        #button--playStop {
            width: 8rem;
            height: 2.5rem;
            border-radius: 0.5rem;
            box-shadow: 3px 3px 5px gray;
            display: block;
            margin: auto;
            font-size: 150%;
            background-color: rgb(182, 234, 253);
        }

    #graphs {
        width: 100%; height: 100%;
        grid-area: graphs;
        border-bottom: 1px solid black;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        padding: 0.5rem;
    }
        #graphs .graphs__div--graph {
            scroll-snap-align: center;
            display: inline-block;
            height: 10.3rem;
            margin: 0.2rem;
            border: 1px solid gray;
            box-shadow: 2px 2px 5px gray;
            overflow: hidden;
            cursor: pointer;
        }
        #graphs svg {
            display: inline-block;
            transition: width 0.5s ease-in-out 0s
        }
        #graphs .graph--head {
            display: inline-block;
            writing-mode: vertical-lr;
            text-orientation:sideways;
            transform: rotate(180deg);
            text-align: center;
            background-color: #ddd;
            height: 160px;
        }

    #canvas--wrapper {
        grid-area: canvas;
        width: 100%; height: 100%;
        overflow: hidden;
        cursor: crosshair !important;
    }
        #canvas--wrapper canvas {
            cursor: crosshair !important;
        }
/* help */
#help {
    position: absolute;
    left: 1%;
    top: 1%;
    width: 98%;
    height: 98%;
    background-color:rgba(226, 247, 255, 0.95);
    border: 2px solid skyblue;
    box-shadow: gray 5px 5px 5px;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 150%;
    color: black;
    padding: 1rem 2rem;
    z-index:-1;
    transition: ease-in-out 0.25s;
    text-align: justify;
    opacity: 0;
    visibility: auto;
}
#help::before {
    content: "[X] Nápověda :)";
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    line-height: 5.0rem;
}
#help.visible { opacity: 1; visibility: visible; z-index: 100;}

.helpIcon {
    background-color: rgb(173, 214, 253);
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    border-radius: 50%;
}
.helpIcon::before {
    content: "\24D8";
    color: rgb(97, 97, 97);
    font-size: 1rem;
    font-weight: bold;
}